@charset "UTF-8";
/*Importo los modulos que utilice, me da mas orden a la hora de trabajar gracias a SASS y su modularización*/
/*CUSTOM PROPERTIES:*/
/*ColorsArray*/
/***********Reseteo global de etiquetas, no uso normalize. Intento ser minimalista y usar CSS puro.****************/
html {
  box-sizing: border-box;
  font-family: "Akaya Telivigala", cursive;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 280px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ebe7e7;
  transition: all 600ms linear, color 600ms linear;
}

.dark {
  background-color: #1f1f1f;
}

img {
  object-fit: cover;
}

img,
audio,
video,
iframe,
canvas,
svg,
picture {
  max-width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/*CUSTOM PROPERTIES:*/
/*ColorsArray*/
/*MIXIN, una gran funcionalidad de SCSS/SASS.*/
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.none {
  display: none;
}

/*********************************HEADER, LOGO-MENU Y MENU-BTN DARK-MODE*********************/
.header {
  position: sticky;
  top: 0;
  padding: 1.5rem;
  background-color: #ebe7e7;
  transition: all 600ms linear, color 600ms linear;
}
body.dark .header {
  background-color: #1f1f1f;
}
.header .dark-mode {
  position: relative;
  position: fixed;
  z-index: 999;
  padding: 0.5rem;
  width: 60px;
  bottom: 8px;
  right: 8px;
  background-color: #444444;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  outline: none;
}
.header .dark-mode::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #1f1f1f;
  top: 2px;
  left: 2px;
  right: unset;
  border-radius: 100px;
  transition: 1s ease all;
}
.header .dark-mode svg {
  width: 18px;
  height: 18px;
  line-height: 18px;
  display: block;
  background: none;
  color: #ebe7e7;
}
.header .dark-mode.active {
  background-color: #444444;
  color: #444444;
}
.header .dark-mode.active::after {
  right: 2px;
  left: unset;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ebe7e7;
  transition: all 600ms linear, color 600ms linear;
}
body.dark .header .container {
  background-color: #1f1f1f;
}
.header .container .menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.header .container .menu__enlace {
  z-index: 99;
  display: inline;
  position: relative;
  min-width: 120px;
  padding: 0.8rem;
  border: 1px solid #444444;
  font-size: var(--step-0);
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  color: #1f1f1f;
  transition: color 900ms 300ms;
  -webkit-transition: color 800ms ease-out;
  -moz-transition: color 900ms ease-out;
  -ms-transition: color 900ms ease-out;
  -o-transition: color 900ms ease-out;
}
body.dark .header .container .menu__enlace {
  color: #ebe7e7;
}
.header .container .menu__enlace::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  background-color: #444444;
  transition: height 900ms 300ms;
  -webkit-transition: height 800ms ease-out;
  -moz-transition: height 900ms ease-out;
  -ms-transition: height 900ms ease-out;
  -o-transition: height 900ms ease-out;
}
.header .container .menu__enlace:hover::after {
  height: 100%;
  left: 0;
}
.header .container .menu__logo {
  order: 1;
  font-family: "Oleo Script", cursive;
}
.header .container .menu__logo img {
  max-width: 100px;
  border-radius: 50%;
}
.header .container .is-active {
  opacity: 1;
  pointer-events: auto;
}

[id] {
  scroll-margin-top: 15rem;
}

@media screen and (min-width: 44.026em) {
  .header .container .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .container .menu__logo {
    order: 0;
  }
}
@media screen and (max-width: 320px) {
  [id] {
    scroll-margin-top: 20rem;
  }
}
.api-public .container {
  padding: 1.5rem;
}

.contador {
  color: #1f1f1f;
}
.contador .container {
  padding: 1.5rem;
  background-image: linear-gradient();
  color: #1f1f1f;
  font-size: var(--step-0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contador .container__title {
  text-decoration: underline;
  animation: none;
}
.contador .container__paragraph {
  margin: 0;
}
.contador .container__span {
  font-size: 4rem;
}
.contador .container__boton {
  min-width: 180px;
  margin: 0 auto;
  padding: 0.8rem;
  border: 1px solid #444444;
  background-color: #ebe7e7;
  font-size: var(--step--1);
  font-weight: bold;
  text-align: center;
}
.contador .container__boton:active {
  background-color: #444444;
}
body.dark .contador .container {
  color: #ebe7e7;
}
body.dark .contador .container__boton {
  background-color: #444444;
  color: #ebe7e7;
}

@media screen and (min-width: 64em) {
  .contador .container__title {
    animation: shake 2s ease infinite alternate;
  }
  @keyframes shake {
    10%, 90% {
      transform: translateX(-1px);
    }
    20%, 80% {
      transform: translateX(2px);
    }
    30%, 50%, 70% {
      transform: translateX(-4px);
    }
    40%, 60% {
      transform: translateX(4px);
    }
  }
}
.contacto {
  margin: 4rem 0;
}
.contacto .container .nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.contacto .container .nav-container .container-red {
  font-size: var(--step-0);
  color: #444444;
}
.contacto .container .nav-container .container-red:hover {
  text-decoration: underline;
}
body.dark .contacto .container .nav-container .container-red {
  color: #ebe7e7;
}

@media screen and (min-width: 64em) {
  .contacto .container .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
/*Estos son los botones para poder hacer el desplazamiento hacia arriba u abajo, yo lo hice de esta forma.
Claramente no se si es la mejor pero lo hice.*/
.scroll-page {
  position: absolute;
  position: fixed;
  z-index: 999;
  bottom: 8px;
  left: 8px;
  padding: 0.5rem;
  width: 60px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.scroll-page__enlace svg {
  animation: bounce-down 1s linear infinite alternate;
}
@keyframes bounce-down {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(40%);
  }
}
.scroll-page__enlace .svg-up {
  animation: bounce-up 1s linear infinite alternate;
}
@keyframes bounce-up {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-40%);
  }
}
body.dark .scroll-page svg {
  color: #ebe7e7;
}

/*Este metodo para Textos fluidos me ha gustado utilizar, espero no sea un problema..*/
/*Responsive Fluid Desing*/
/* 
@link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
}

/*# sourceMappingURL=style.css.map */
