.api-public {
  .container {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 2rem;
    @include flex();
    gap: 2rem;
    font-size: var(--step-1);
    color: map-get($colores, "text-color");
    body.dark & {
      color: map-get($colores, "white");
    }
    //Search Pokedex
    .form {
      @include flex();
      text-align: center;
      &__input {
        margin-top: 1rem;
        padding: 0.5rem;
        font-size: var(--step--1);
        text-decoration: none;
        text-align: center;
        color: map-get($colores, "text-color");
        background-color: map-get($colores, "white");
      }
      body.dark & {
        &__input {
          color: map-get($colores, "white");
          background-color: map-get($colores, "black");
        }
      }
    }
    //Body PokeCard
    .pokedex-card {
      max-width: 50%;
      min-width: 70%;
      padding: 1rem 0;
      text-align: center;
      border: 3px solid map-get($colores, "black");
      box-shadow: 8px 8px 8px 10px map-get($colores, "text-color");
      //Poke Img
      .pokedex-img {
      }
      //Pokemon data
    }
  }
}
@media screen and (min-width: 55em) {
  .api-public {
    .container {
      width: 50%;
      //Body PokeCard
      .pokedex-card {
        max-width: 10vw;
        //Pokemon data
      }
    }
  }
}
