/*********************************HEADER, LOGO-MENU Y MENU-BTN DARK-MODE*********************/
.header {
  position: sticky;
  top: 0;
  z-index: 900;
  padding: 1.5rem;
  width: 100%;
  //BTN-DARK-MODE
  .dark-mode {
    position: relative;
    position: fixed;
    padding: 0.5rem;
    width: 60px;
    bottom: 10px;
    right: 10px;
    background-color: map-get($colores, "light-gray");
    border: none;
    cursor: pointer;
    border-radius: 10px;
    @include flex($direction: row, $just: space-between);
    outline: none;
    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      background-color: map-get($colores, "bg-primary");
      top: 2px;
      left: 2px;
      right: unset;
      border-radius: 100px;
      transition: 1s ease all;
    }
    svg {
      width: 18px;
      height: 18px;
      line-height: 18px;
      display: block;
      background: none;
      color: map-get($colores, "white");
    }
  }
  .active {
    background-color: map-get($colores, "light-gray");
    color: map-get($colores, "light-gray");
    svg {
      color: map-get($colores, "bg-btn-mode");
    }
    &::after {
      right: 2px;
      left: unset;
    }
  }
  //Container LOGO/NAV
  .container {
    @include flex($direction: row, $just: space-between);
    //Menu Mobile/Hamburguesa
    .menu-btn {
      outline: thin solid map-get($colores, "light-gray");
      border: 0;
      margin-top: 0.5rem;
      cursor: pointer;
      background-color: map-get($colores, "light-gray");
      //Este selectro me permite cambiar aspectos unicos de la sección menu-mobile cuando la pagina se encuentre en MODO-OSCURO.
      //Si quiero modificar cualquier otro modulo de mi pagina es ir a ese fragmento y colocar este mismo selector.
      body.dark & {
        background-color: map-get($colores, "bg-primary");
      }
    }
    //Menu MOBILE-FIRST
    .menu {
      position: fixed;
      left: 0;
      top: 5rem;
      width: 100%;
      @include flex();
      gap: 1rem;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease;
      &__enlace {
        z-index: 99;
        display: inline;
        position: relative;
        min-width: 180px;
        margin: 0 auto;
        padding: 0.8rem;
        border: 1px solid map-get($colores, "text-color");
        font-size: var(--step--1);
        font-weight: bold;
        text-align: center;
        overflow: hidden;
        color: map-get($colores, "text-color");
        transition: color 900ms 300ms;
        -webkit-transition: color 800ms ease-out;
        -moz-transition: color 900ms ease-out;
        -ms-transition: color 900ms ease-out;
        -o-transition: color 900ms ease-out;
        &:hover {
          color: map-get($colores, "white");
        }
        //Animación Nav
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          z-index: -1;
          background-color: map-get($colores, "text-color");
          transition: height 900ms 300ms;
          -webkit-transition: height 800ms ease-out;
          -moz-transition: height 900ms ease-out;
          -ms-transition: height 900ms ease-out;
          -o-transition: height 900ms ease-out;
        }
        &:hover::after {
          height: 100%;
          left: 0;
        }
      }
      //Logo
      &__logo {
        order: 1;
        font-family: "Oleo Script", cursive;
        img {
          max-width: 100px;
          border-radius: 50%;
        }
      }
    }
    .is-active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
//MediaQuerie MENU DEKTOP.
@media screen and (min-width: 64em) {
  .header {
    .container {
      .menu-btn {
        display: none;
      }
      .menu {
        margin: 0 auto;
        position: static;
        max-width: 700px;
        @include flex($direction: row);
        opacity: 1;
        pointer-events: auto;
        &__enlace {
          width: auto;
          padding: 8px;
          &:last-child {
            padding-right: 0;
          }
        }
        &__logo {
          order: 0;
        }
      }
    }
  }
}
