/*********************************HEADER, LOGO-MENU Y MENU-BTN DARK-MODE*********************/
.header {
  position: sticky;
  top: 0;
  padding: 1.5rem;
  background-color: map-get($colores, "white");
  transition: all 600ms linear, color 600ms linear;
  body.dark & {
    background-color: map-get($colores, "black");
  }
  //BTN-DARK-MODE
  .dark-mode {
    position: relative;
    position: fixed;
    z-index: 999;
    padding: 0.5rem;
    width: 60px;
    bottom: 8px;
    right: 8px;
    background-color: map-get($colores, "text-color");
    border: none;
    cursor: pointer;
    border-radius: 10px;
    @include flex($direction: row, $just: space-between);
    outline: none;
    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      background-color: map-get($colores, "black");
      top: 2px;
      left: 2px;
      right: unset;
      border-radius: 100px;
      transition: 1s ease all;
    }
    svg {
      width: 18px;
      height: 18px;
      line-height: 18px;
      display: block;
      background: none;
      color: map-get($colores, "white");
    }
    &.active {
      background-color: map-get($colores, "text-color");
      color: map-get($colores, "text-color");

      &::after {
        right: 2px;
        left: unset;
      }
    }
  }

  //Container LOGO/NAV
  .container {
    @include flex($direction: row, $just: space-around);
    background-color: map-get($colores, "white");
    transition: all 600ms linear, color 600ms linear;
    body.dark & {
      background-color: map-get($colores, "black");
    }
    //Menu MOBILE-FIRST
    .menu {
      width: 100%;
      @include flex($direction: row);
      flex-wrap: wrap;
      gap: 1rem;
      &__enlace {
        z-index: 99;
        display: inline;
        position: relative;
        min-width: 120px;
        padding: 0.8rem;
        border: 1px solid map-get($colores, "text-color");
        font-size: var(--step-0);
        font-weight: bold;
        text-align: center;
        overflow: hidden;
        color: map-get($colores, "black");
        transition: color 900ms 300ms;
        -webkit-transition: color 800ms ease-out;
        -moz-transition: color 900ms ease-out;
        -ms-transition: color 900ms ease-out;
        -o-transition: color 900ms ease-out;
        body.dark & {
          color: map-get($colores, "white");
        }
        //Animación Nav
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          z-index: -1;
          background-color: map-get($colores, "text-color");
          transition: height 900ms 300ms;
          -webkit-transition: height 800ms ease-out;
          -moz-transition: height 900ms ease-out;
          -ms-transition: height 900ms ease-out;
          -o-transition: height 900ms ease-out;
        }
        &:hover::after {
          height: 100%;
          left: 0;
        }
      }
      //Logo
      &__logo {
        order: 1;
        font-family: "Oleo Script", cursive;
        img {
          max-width: 100px;
          border-radius: 50%;
        }
      }
    }
    .is-active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
[id] {
  scroll-margin-top: 15rem;
}
//MediaQuerie DESKTOP.
@media screen and (min-width: 44.026em) {
  .header {
    .container {
      .menu {
        @include flex($direction: row, $just: space-between);
        &__logo {
          order: 0;
        }
      }
    }
  }
}
//MediaQuerieScrollMarginTop.
@media screen and (max-width: 320px) {
  [id] {
    scroll-margin-top: 20rem;
  }
}
